<a id="feedbackbutton" href="{$webaddr}/op/feedback"></a>
<a id="reportbutton" href="javascript:void(0)" onclick="reportbox()"></a>
<div id="footer">
<a href="{$webaddr}/op/faq">新手帮助</a> | 
<a href="http://m.pinzui.com">手机WAP</a> | 
<a href="http://forum.pinzui.com">论坛</a> | 
<a href="http://blog.pinzui.com">官方博客</a> | 
<a href="http://wiki.pinzui.com">WIKI</a> | 
<a href="{$webaddr}/op/contact">联系我们</a> 
<!--{if ($my[isadmin]==1)}--> | <a href="{$webaddr}/admin/index.php" target="_blank">进入管理</a><!--{/if}--><br/>
<span title="Processed in {$loadtime} second(s), {$sqlnum} queries.">&copy; 2009-2010 <a href="{$webaddr}">{$webn1}</a></span>&nbsp; <a href="http://www.yancreate.com" target="_blank">岩创网络科技有限公司旗下网站</a> <a href="http://www.miibeian.gov.cn" target="_blank">{$webm}</a>
</div>
</div>
<!--{if ($p2)}--><div class="ads2"><!--{loop $p2 $key $val}--><div style="margin-top:5px">{echo base64_decode($val)}</div><!--{/loop}--></div><!--{/if}-->
<div class="gotop"><button onclick="location.href='#'" title="返回顶部"><span>返回顶部</span></button></div>
<span style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/2992516.js"></script>
<noscript><a href="http://www.51.la/?2992516" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/2992516.asp" style="border:none" /></a></noscript></span>
</body>
</html>
