{template "header.htm"}
<div class="faq">
<h2>1  贫嘴是什么？</h2><br/>
&nbsp;&nbsp;&nbsp;&nbsp;“贫嘴”是爹妈给的一种技能，是自我宣泄的一种渠道，是一种生活方式。总之，无论是什么，“贫嘴”肯定是实现幸福的基本手段。因此，“贫嘴”的舞台应该是充满了幸福的，它是现在的更是未来的，有些童话，有些寓言，也许这就是我们心目中的对幸福真正的认识。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;贫嘴称之为迷你博客也好，小广播也好，便签也好，这里记录的这些小声音都会成为难忘的记忆。在这里，你可以通过手机、网页、MSN/GTalk/QQ随时随地发消息，时时刻刻看朋友。<br/><br/>

<h2>2  如何使用贫嘴？</h2><br/>
&nbsp;&nbsp;&nbsp;&nbsp;可以告诉大家你在做什么吧，可以随便看看大家都在做什么，也可以关注几个有趣的人。对了，别忘了上传头像和绑定 MSN/GTalk/QQ 及手机，这样子就更好玩了。<br/><br/>

<h2>3  你可以通过以下方式来使用贫嘴：</h2><br/>
&nbsp;&nbsp;&nbsp;&nbsp;1、网页，地址是 {$webaddr}<br />
&nbsp;&nbsp;&nbsp;&nbsp;2、手机上网，地址是 {$webaddr}/wap/ <br />
&nbsp;&nbsp;&nbsp;&nbsp;3、MSN，在设置绑定MSN，通过贫嘴机器人发消息 (暂未开通)<br />
&nbsp;&nbsp;&nbsp;&nbsp;4、QQ，在设置绑定QQ，通过贫嘴机器人发消息 (暂未开通)<br /><br/>

<h2>4  如何关注某人？</h2><br/>
&nbsp;&nbsp;&nbsp;&nbsp;如果你想在贫嘴上关注某人，点击他的空间中个人资料后面“关注一下”的链接就可以了。 <br/><br/>

<h2>5  如何解除对某人的关注？</h2><br/>
&nbsp;&nbsp;&nbsp;&nbsp;进入好友的空间，点击 好友 签名旁边的"解除关注"即可。<br/><br/>
</div>
{template "foot.htm"}
