<div class="side">
<div class="block">
<h2>管理选项</h2>
<ul class="folder">
<li><a href="index.php">基本设置</a></li>
<li><a href="announce.php">公告管理</a></li>
<li><a href="useradmin.php">会员管理</a></li>
<li><a href="adsadmin.php">广告管理</a></li>
<li><a href="usertemplate.php">用户模板</a></li>
<li><a href="report.php">用户举报</a></li>
<li><a href="keyword.php">话题管理</a></li>
<li><a href="replace.php">词语过滤</a></li>
<li><a href="invitecode.php">邀请注册</a></li>
<li><a href="mailconf.php">邮件配置</a></li>
<li><a href="backup.php">备份数据库</a></li>
<li><a href="restore.php">还原数据库</a></li>
<li><a href="reload.php">更新缓存</a></li>
<li><a href="../index">返回主页</a></li>
<li><a href="login.php?act=logout">注销后台</a></li>
</ul>
</div>
</div>
</div>
<div id="footer">
<p>Copyright 2008 - 2010 <a href="http://www.pinzui.com">pinzui.com</a></p>
</div>
</div>
</body>
</html>