{template "header.htm"}
<div class="mainarea">
<div class="maininner">
<div class="bdrcontent">
<form method="post" action="mailconf.php">
    <div class="title"><h3>邮件设置</h3></div>
    <table border="0" width="100%">
        <tr height="35px">
            <td width="120"><p align="right">SMTP服务器：</td>
            <td><input name="mail_server" type="text" value='{$mail_server}' style="width:300px"/></td>
        </tr>
        <tr height="35px">
            <td><p align="right">SMTP服务器端口：</td>
            <td><input name="mail_port" type="text" value='{$mail_port}' style="width:300px"/></td>
        </tr>
        <tr height="35px">
            <td><p align="right">用户邮箱：</td>
            <td><input name="mail_name" type="text" value='{$mail_name}' style="width:300px"/><span class="gray">请确保您的邮箱开启SMTP服务</span></td>
        </tr>
        <tr height="35px">
            <td><p align="right">用户帐号：</td>
            <td><input name="mail_user" type="text" value='{$mail_user}' style="width:300px"/><span class="gray">登陆邮箱的帐号</span></td>
        </tr>
        <tr height="35px">
            <td><p align="right">用户密码：</td>
            <td><input name="mail_pass" type="password" value='{$mail_pass}' style="width:300px"/><span class="gray">登陆邮箱的密码</span></td>
        </tr>
        <tr height="35px">
            <td>&nbsp;</td>
            <td><input type="hidden" name="action" value="save" /><input type="submit" value="保存设置" /> &nbsp;<input type="button" onclick="window.location.href='mailconf.php?act=testmail'" value="测试发送" /></td>
        </tr>
    </table>
</form>
</div>
</div>
</div>
{template "foot.htm"}